{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}

     <section class="px-48   ">
        <div class=" flex bg-white px-20 ">
            <div class=" flex flex-col items-center justify-center w-[60%]">
                <p class="px-5 py-1 mb-3 text-white font-semibold text-xl bg-orange-500">MSI</p>
                <img src="/static/assert/pc1.png" alt="" class="h-[260px] w-[280px] mb-5">
                <div class=" bg-slate-300 px-5 py-7">
                    <p >Modèle : MSIProcesseur : Intel Core Ultra 7 155U, 12 (2 P-core + 8 E-core + 2 LPE-core, Cache 12MB )Mémoire : 16Go LPDDR5x-7467 soudéStockage : 1To SSD M.2 2242 PCIe 4.0×4 NVMeÉcran : 14″ WUXGA (1920×1200) OLED 400nits brillant / anti-traces de doigts, Tactile</p>
                </div>
            </div>
            <div class="pl-20 justify-center items-center flex flex-col ">
                <div class="p-5 border border-orange-500 mb-5">
                    <img src="/static/assert/pc1.png" alt="" class="h-[100px] w-[120px] ">
                </div>
                <div class="p-5 border border-orange-500 mb-5">
                    <img src="/static/assert/pc1.png" alt="" class="h-[100px] w-[120px] ">
                </div>
                <div class="p-5 border border-orange-500">
                    <img src="/static/assert/pc1.png" alt="" class="h-[100px] w-[120px] ">
                </div>
            </div>
        </div>
        <div class=" flex items-center justify-center bg-white py-5">
            <p class="text-xl mr-7">450 000F CFA</p>
            <div class="mr-7">
                <input type="number" name="" id="" min="1"  class="py-2 px-3 w-full text-gray-700 leading-tight bg-white border border-orange-500 rounded-xl focus:outline-none focus:ring-0 focus:border-border-orange-500 ">
            </div>
            <button class="rounded-lg bg-orange-500 px-5 py-1 text-white text-xl">Ajouter au panier <i class="fa-solid fa-cart-plus"></i> </button>
        </div>
    </section>

    <section class="px-48 mt-7">
        <h1 class="text-[#5d5d5d] font-bold text-xl md:text-2xl uppercase mb-5">Les produits similaires : <strong class="text-sm md:text-base font-normal">Nos articles les plus vendus</strong></h1>
    </section>





{% endblock %}